body
{
   background-color:cornsilk;
}
h2
{
   color: darkorange;
}
table
{
   background-color: aqua;
}
button
{
   background-color: chartreuse;
}
.raj
{
   color: green;
}
h1
{
   color: darksalmon;
}
#course
{
   color: crimson;
}
p
{
   color: crimson;
}
