* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;

}

.card {
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #220f51 !important;

  button {
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    font-weight: bolder;
    background-color: darkmagenta;
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 10px 0;
  }

  img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    display: block;
    margin: 0 auto;
  }

}

.parent {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none !important;
}